// Benefits Section
.benefits {
    background: #E5E5E5;
    padding: 10px 0;


}

.benefit-list {

    ul {

        li {
            padding: 0px 10px;
        }
    }
}

.benefit-item {
    display: flex;
    align-items: center;
    text-align: left;

    .icon-threaded {
        font-size: 30px;
        margin-right: 10px;
    }
}


// Banner
.threaded-carousel {
    height: calc(100vh - 121px);
    min-height: 560px;


    .item {
        height: calc(100vh - 121px);
        min-height: 560px;
        position: relative;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        @include transition(opacity, 0.4s cubic-bezier(0.65, 0, 0.35, 1));
    }

    .owl-item.active {

        .item {
            opacity: 1;
            visibility: visible;
            z-index: 10;
            
        }
    }

    .container {
        &:after {
            content:'';
            display: block;
            float: none;
            clear: both;
        }
    }

    .banner-content {
        width: 50%;
        float: right;
        position: relative;
        z-index: 4;
        text-align: center;
        padding: 40px 0;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .btn {
            font-size: 2.25rem;
            margin-top: 20px;
            padding: 15px 30px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            &:hover {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
                background: $gray;
                color: $white;

            }
        }
    }

    .coverimage {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        overflow: hidden;
        z-index: 3;
        background: #EDE9DD;
    }

    .owl-dots {
        position: absolute;
        z-index: 6;
        width: 100%;
        bottom: 20px;
        text-align: center;

        .owl-dot {
            width: 15px;
            height: 15px;
            display: inline-block;
            background: $white;
            border-radius: 50%;
            margin: 0px 5px;
            opacity: 0.5;
            border: 2px solid $gray;
            @include transition(all 0.4s ease);

            &.active, &:hover {
                opacity: 1;
            }
        }
    }

    .owl-nav button, .owl-nav>div {
        position: absolute;
        width: 22px;
        height: 84px;
        top: 50%;
        margin-top: -42px;

        &.owl-prev {
            left: 15px;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }

            &:before {
                content: "\e905";
                font-family: 'icon-threaded' !important;
                speak: never;
                font-size: 50px;
                color: $gray;
            }
        }

        &.owl-next {
            right: 40px;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }

            &:before {
                content: "\e90a";
                font-family: 'icon-threaded' !important;
                speak: never;
                font-size: 50px;
                color: $gray;
            }
        }

        span {
            display: none;
        }
    }
}

// Black Friday Sale
.friday-sale {
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    background: #000 url('../assets/images/bg.jpg') no-repeat;
    background-position: top left;
    background-size: cover;

    h2 {
        font-size: 2rem;
        font-weight: 800;
        text-transform: uppercase;
        margin-right: 15px;
    }

    p {
        padding: 0px 25px;
        font-size: 1.125rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-right: 140px;
    }

    
}

// Sitewide Deal

.site-wide-deal {
    .btn {
        margin-left: 70px;
    }
}

.deal-item {
    text-align: center;
    padding: 0px 35px;

    &--value {
        font-size: 2rem;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
    }

    &--off {
        font-size: 1.125rem;
        font-weight: 800;
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
    }

    
}

// Trending Section
.card-item {

    a {
        display: flex;
        flex-flow: column;

        &:hover {

            .img-holder img {
                @include transform(scale(1.15));
            }
        }
    }

    .img-holder {
        height: 0;
        padding-bottom: 133%;
    }

    h3 {
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0;
    }

    

    &--content {
        padding: 5px 0 10px;
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        min-height: 88px;
        justify-content: end;
        align-items: stretch;


        p {
            font-size: 0.875rem;
            text-transform: capitalize;

            &:first-child {
                padding-bottom: 5px;
            }
        }

        .price {

            font-weight: 800;

            .discounted {
                color: #C1272D;
                margin-right: 20px;

                + span {
                    text-decoration: line-through;
                }
            }
        }

    }
}

.img-holder {
    height: 0;
    padding-bottom: 133%;
    position: relative;
    overflow: hidden;
    background: $lightgray;

    img {
        width: 100%;;
        height: auto;
        display: block;
        @include transition(transform 0.4s cubic-bezier(0.65, 0, 0.35, 1));
        @include transform(scale(1));
        will-change: transform;
    }
}

.trending-hash {
    padding: 20px 0 0;

    li {
        padding: 0px 8px 10px;
    }
}

.hash-item {
    border-radius: 50px;
    border: 1px solid $black;
    padding: 10px 22px;
    font-weight: 600;
    display: block;

    &:hover {
        background: $black;
        color: $white;
    }

}

// New Arrival
.new-arrival {
    min-height: 400px;

    .btn {
        margin-top: 53px;
    }
    
}

.new-arrival-content {
    width: 50%;
    float: right;
    color: $white;

    h2 {
        font-size: 5rem;
        font-weight: 800;
        line-height: 5rem;
        text-transform: uppercase;
        margin-bottom: 20px;
        // text-shadow: 1px 2px 1px rgba($black, 0.16);
    }

    p {
        font-size: 1.75rem;
        font-weight: 600;
        // text-shadow: 1px 2px 1px rgba($black, 0.16);
    }

}

// Recent Bought Section
.recent-bought {

    
}


// Instagram Section
.instragram-list {

    .img-holder {
        padding-bottom: 100%;
    }

    .btn {
        margin-top: 25px;
    }
}

// Newsletter 
.newsletter {
    padding: 20px 0;

    h3 {
        text-transform: uppercase;
        font-weight: 800;
        margin-right: 50px;
        font-size: 2rem;
    }

    .input-wrap {
        position: relative;
        width: 324px;


        input[type="email"] {
            border: none;
            background: #F2F2F2;
            padding: 12px 15px;
            width: 100%;
            font-size: 0.875rem;
            font-family: $defaultFont;

            &:focus {
                outline: none;
                box-shadow: none!important;
            }

            &::-webkit-input-placeholder {
                color: #4D4D4D;
                font-size: 0.875rem;
                text-transform: capitalize;
            }   
            &::-moz-placeholder {
                opacity: 1; 
                color: #4D4D4D;
                font-size: 0.875rem;
                text-transform: capitalize;
            }
            
            &:-moz-placeholder {
                opacity: 1; 
                color: #4D4D4D;
                font-size: 0.875rem;
                text-transform: capitalize;
            }
            
            &::placeholder {
                color: #4D4D4D;
                font-size: 0.875rem;
                text-transform: capitalize;
            }
        }


        button {
            background: #fff;
            @include appearance(none);
            border: none;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            padding: 5px 12px;
            font-size: 20px;
            z-index: 10;

            i {
                position: relative;
                left: 0;
                @include transition(left 0.4s cubic-bezier(0.65, 0, 0.35, 1));
            }

            &:hover {
                color: $white;
                background: $gray;

                i {
                    left: 5px;
                }
            }
        }
    }
}

