// includes all tags for paragraphs and titles such as header, p, span
h1 { font-size: 3rem; } // 48px
h2 { font-size: 2.25rem; } // 36px
h3 { font-size: 1.4rem; } // 24px
h4 { font-size: 1.125rem; } // 18px
h5 { font-size: 1rem; } // 16px
h6 { font-size: 0.75em; } // 12px

